<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <p class="col-md-4 mb-0 text-muted fw-bold">&copy;2022 CODEMAN INC&trade; </p>
      <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/articles" class="nav-link px-2 text-dark">Articles</a></li>
          <li class="nav-item"><a href="/write" class="nav-link px-2 text-dark">Write</a></li>
          <li class="nav-item"><a href="/login" class="nav-link px-2 text-dark">Logout</a></li>
      </ul>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
</html>