<header class="p-3 bg-dark text-light mb-4">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand fs-3 display-1 myBrand" href="#">Dream Diaries</a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-lg-auto">
                <li><a href="/articles" class="nav-link px-2 text-light fw-semibold">Articles</a></li>
                <li><a href="/write" class="nav-link px-2 text-light fw-semibold">Write</a></li>
                <li><a href="/" class="nav-link px-2 text-light fw-semibold">About Us</a></li>
            </ul>
            
            <div class="text-end">
                <h5></h5>
                <button type="button" class="btn bg-warning">Contacts</button>
                <a href="/login" type="button" class="btn text-light myButtons">Logout</a>
            </div>
        </div>
    </div>
</header>