<form class='mt-5' action="/articles" method="post">

    <div class="form-outline mb-4">
        <input type="email" name="email" placeholder="Email address" class="form-control form-control-lg" />
    </div>

    <div class="form-outline mb-4">
        <input type="password" name="password" placeholder="Password:" class="form-control form-control-lg" />
    </div>

    <div class="text-center pt-2">
        <div class="d-grid gap-2 col mx-auto">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
        <p class="small fw-bold pt-1 mt-3">Don't have an account? <a href="/signup"class="link-danger">Register</a></p>
    </div>
</form>