<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <div class="container ">
        <h2> DREAM SUCCESSFULY DELETED!</h2>
    </div>
</body>
<%- include('../partials/footer') %>